body
{
	background-image: url("img/bg.png");
}

h1
{
	font-family: 'Anton', sans-serif;
	font-size: 40px;
}

.heading
{
	font-family: 'Pacifico', cursive;
	font-size: 24px;
}

.border
{
	border: 1px solid #000000!important;
}

#chartIncomesContainer,
#chartExpensesContainer
{
	width: 100%;
	min-height: 400px;
	max-height: 450px;
}